@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
}

body {
    background-image: linear-gradient(to right, #4434EB, #5850AB)
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 05px 05px 15p black;
    margin-top: 200px;

}


button {
    padding: 10px 20px;
    cursor: pointer;
}

h2{
    color: #3A36BA;
    text-align: center;
}

h1{
    text-align: center;
    text-shadow: 1px 1px 2px rgba(129, 77, 7 ,0.7)
}

form {
    text-align: center;
}